li {
    list-style: none;
}

p {
    margin: 0;
}

#menu-icon span {
    font-size: 60px;
}

#hamburger {
    display: none;
}

#menu-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 50%;
}

#hamburger:checked + #navigation {
    left: 0;
    transition: left 0.5s ease-in-out;
}

#navigation {
    margin: 0;
    font-size: large;
    background-color: #5d6c7b;
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -1000px;
    transition: left 0.5s ease-in-out;
}

#navigation li {
    padding: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

}

.expandable {
    position: relative;
}
.expandable p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subMenu-header {
    text-decoration: underline;
}
#chevron + label i {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
}
#chevron:checked + label i {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in;
}
.subMenu {
    display: none;
}
.subMenu-header:has(#chevron:checked) + .subMenu {
    display: block;
}