#menu-icon span {
    font-size: 60px;
}

#hamburger {
    display: none;
}

#menu-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 50%;
}

#hamburger:checked + #navigation {
    left: 0;
    transition: left 0.5s ease-in-out;
}

#navigation {
    font-size: large;
    list-style: none;
    background-color: #5d6c7b;
    width: 20vw;
    position: absolute;
    top: 0;
    left: -1000px;
    transition: left 0.5s ease-in-out;
}

#navigation li {
    padding: 1rem;
}