/* D E F A U L T S */
/* G L O B A L */
/* I C O N S */
/* I M A G E S */
/* T E X T */
/* B U T T O N S */
/* N A V I G A T I O N */
/* L I N E S */
/* P A G E   B L O C K S */
/* F A Q */



/* D E F A U L T S */

body {
    background-color: #000;
    font-family: 'Proxima nova', sans-serif;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 300;
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

p {
    margin: 0;
    overflow: hidden;
    padding: 16px 16px 16px 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: new-spirit, sans-serif;
    font-size: 5.25rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.02em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: new-spirit, sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 200;
    letter-spacing: -0.02em;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-family: new-spirit, sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.02em;
}



/* G L O B A L */
.page-padding{
}

.whitespace {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 15rem;
    overflow: hidden;
    z-index:-100;
}

.whitespace-2{
    padding-bottom: 12rem;
}

.whitespace-margin{
    margin-bottom:20rem;;
}

.background-color {
    background-color: #e8b7a7;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 12rem;
    color: #000;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-grey {
    background-color: rgb(19, 19, 19);
}

.column {
    flex: 25%;
    padding: 20px;
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.rowToColumn {
    display: flex;
    flex-direction: row;
  }

.alignMiddle{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* I C O N S */
#id{
    padding-bottom: 12rem;
}

.extra-space{
    margin-top:1rem;
    margin-bottom:2rem;
    z-index: -100;
}

.white-background{
    background-color: white;
}




/* I M A G E S */

.img2 {
    object-fit: cover;
    height: 100vh;
    max-height: 50rem;
    /*width: 100%;*/
}

.img3 {
    object-fit: contain;
    max-height: 50rem;
    justify-content: center;
    padding-top: 100px;
    /*width: 80%;
    margin: 0 auto;*/
}

.img4 {
    object-fit: contain;
    max-height: 30rem;
    justify-content: center;
}

.img5 {
    object-fit: contain;
    height: 60vh;
    max-height: 30rem
}

.img6 {
    object-fit: cover;
    width: 100%;
    max-height: 200vh;
    overflow: hidden;
}

.img7 {
    object-fit: contain;
    height: 20vh;
}



/* T E X T */

.text2 {
    max-width: 70%;
    padding-right: 15%;
    padding-left: 15%;
}

.text3 {
    max-width: 70%;
    padding-left:50px;
}

.text4 {
    max-width: 90%;
}

.text5 {
    max-width: 90%;
}

.text6 {
    max-width: 50%;
    padding-left:50px;
    background:rgb(19, 19, 19);
}

.text7 {
    max-width: 70%;
}

.big-paragraph{
    font-size: 2.25rem;
    font-weight: 300;
}

.text-nav{

}

#black-text{
    color: black;
}



/* B U T T O N S */

.button {
    border-radius: 9999px;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    font-family: new-spirit, sans-serif;
    font-size: 1rem;
}

.button-default {
    padding: 10px 20px;
}

.button-default img {
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.button-is-green {
    border: none;
    background-color: #87bb81;
    color: #000;
}

.button-transparent {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.button-transparent-black {
    border: 1px solid black;
    background-color: transparent;
    color: black;
}
.button-black{
    border: 1px solid black;
    background-color: black;
    color: white;
}

.button-big {
    padding: 20px 40px;
    font-size: xx-large;
}

.button-big img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}




/* L I N E S */

.line_arc-1 {
    position: absolute;
    left: -75%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 250vw;
    height: 200vw;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 100%;
    padding-top: 0px;
    z-index: -100;
}

.line_arc-2 {
    position: absolute;
    left: -115%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 250vw;
    height: 200vw;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 100%;
    z-index: -100;
}

.line_arc-3 {
    position: absolute;
    left: -110%;
    top: 10%;
    right: 0%;
    bottom: auto;
    width: 250vw;
    height: 200vw;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 100%;
    z-index: -100;
}

.line_arc-4 {
    position: absolute;
    left: -80%;
    top: 30%;
    right: 0%;
    bottom: auto;
    width: 250vw;
    height: 200vw;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 100%;
    z-index: -100;
}



/* N A V I G A T I O N */

.header {
    text-align: left;
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header::after {
    content:  '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 15%;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-left {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}

.hamburger {
    display: none;
  }

.list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 20px;
    padding: 0;

}

.listItem {
    width: min-content;
    white-space: nowrap;
}




/* P A G E   B L O C K S */

.section0{
    padding-top:150px;
    text-align: left;
    padding-right: 15%;
    padding-left: 15%;
}

.section1 {
    text-align: center;
    justify-content: center;
    padding-right: 15%;
    padding-left: 15%;
}

.section2 { /*should delete*/
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:0;
    background-color: rgb(19, 19, 19);
}

/*.gathered {
    display: grid;
    grid-template-columns: 1fr 1fr;
}*/

.gathered-img {
    display: flex;
    justify-content: center;
}

.gathered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}

.together{
    text-align: left;
}

.together-3{
    padding-top:7rem;
    color:black;
}

.section3{
    display: flex;
    align-items: center;
    padding: 0px;
    margin:0px;
    padding-right: 15%;
    padding-left: 15%;
}

.gathered-2{
    display: flex;
    margin-top: 7rem;
}

.together-2{
    padding-left:5rem;
    padding-top:7rem;
}

.section4{
    display: flex;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
    margin:0px;
    padding-top:20rem;
}

.gathered-3{
    display: flex;
    justify-content: center;
    background-color:rgb(19, 19, 19);
    padding: 0px;
    margin:0px;
    
}

.lol{
    object-position: 70% 15%;
}

.together-4{
    padding-left:5rem;
}

.aligna{
    border-bottom: 2px solid #000;
    text-align: center;
}

.combined-1{
    display: flex;
    justify-content: space-between;
    margin-top:3rem;
    margin-bottom: 3rem;
}

.combined-2{
    display: flex;
    justify-content: space-between;
    margin-top:3rem;
}

.pagoda-everyone {
    padding-right: 15%;
    padding-left: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
}



/* F A Q */

.faq1 {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 2px solid #fff;
}

.faq2 {
    padding-right: 15%;
    padding-left: 15%;
}


/* M E D I A Q U E R R I E S */
/* Tablet */
@media screen and (max-width: 1200px) {
    body {

    }
    .column {
        flex: 50%;
      }
    
    p {
        margin: 0;
        overflow: hidden;
        padding: 16px 16px 16px 0;
    }
    
    h1 {
        font-size: 3.25rem;
        line-height: 1;
        font-weight: 300;
        letter-spacing: -0.02em;
    }
    
    h2 {
        font-size: 2.5rem;
        line-height: 1;
        font-weight: 200;
        letter-spacing: -0.02em;
    }
    
    h3 {
        font-size: 2rem;
        line-height: 1;
        font-weight: 300;
        letter-spacing: -0.02em;
    }

    .big-paragraph{
        font-size: 1.5rem;
    }
        

  }

/* Mobile */
@media screen and (max-width: 800px) {
    .rowToColumn {
        flex-direction: column;
        align-items: center;
        flex-wrap:wrap;
    }
    body {

    }
    .row {
        flex-direction: column;
      }

    p {
        font-size: 1rem;
        margin: 0;
        overflow: hidden;
        padding: 16px 16px 16px 0;
    }
    
    h1 {
        font-size: 3rem;
        line-height: 1;
        font-weight: 300;
        letter-spacing: -0.02em;
    }
    
    h2 {
        font-size: 2rem;
        line-height: 1;
        font-weight: 200;
        letter-spacing: -0.02em;
    }
    
    h3 {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 300;
        letter-spacing: -0.02em;
    }

    .section2{
        padding-top: 50px;
    }

    .big-paragraph{
        font-size: 1.5rem;
    }

    .img2{
        object-fit: cover;
        height: 50vh;
        max-height: 50rem;
        width: 100%;
        overflow: hidden;
    }

    .img3 {
        padding-top:30px;
        width: 70vh;
        object-fit: contain;
        max-height: 50rem;
        justify-content: center;
        /*width: 80%;
        margin: 0 auto;*/
    }

    .header {
        flex-direction: column;
        padding: 20px;
      }
    
      .mobileHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    
      .hamburger {
        display: block;
      }
    
      .menu {
         display: none;
      }
    
      .list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 40px;
        column-gap: 0;
        justify-items: center;
      }

      .gathered-text{
        padding-bottom: 50px;
      }

      .combined-1{
        flex-wrap:wrap;
        justify-content: center;
      }

      .combined-2{
        flex-wrap:wrap;
        justify-content: center;
      }

      .text6{
        padding-top:50px;
        padding-bottom:50px;
      }

      .img7{
        width:100vh;
      }
  }


  @media screen and (min-width: 801px) {
    .menu {
      display: block !important;
    }
  }

  @media screen and (min-width: 1200) {
    .menu {
      display: block !important;
    }

    .section2{
        padding-right: 15%;
        padding-left: 15%;
  }

 

    }
  